*{
  margin: 0px;
}

/* Page Defaults */
.links-page {
  background-color: #03a9f4;
  padding: 10px;
}

.pre-page{
  box-sizing: border-box;
  color: #03a9f4;
  border: 10px solid #03a9f4;
}

/* Common */
body{
  padding: 0px;
}

a, a:visited{
  color:blue;
  text-decoration: none;
}

a:active{
  color:green;
}
header {
  text-align: center;
}
.container {
  height: 270px;
  width: 250px;
  margin: 15px;
}

/* Navigation */

.nav {
  padding:0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: white;
}

.nav li {
  list-style: none;
}

.nav a {
  color: #03a9f4;
  font-size: 14px;
}

.nav img {
  opacity: .7;
}

.nav a:active,
a:hover {
  text-decoration: underline;
}

.box-one {
  border-right: 4px solid rgba(221, 220, 220, 0.48);
  grid-column: 1;
  grid-row: 1;
  padding-top: 4px
}
.icon-settings{
  grid-column: 1;
  grid-row: 2;
  width: 32px;
}

.icon-links {
  width: 32px;
  grid-column: 2;
  grid-row: 2;
}

#links {
  grid-column: 2;
  grid-row: 3;
}

.box-two {
  border-right: 4px solid rgba(221, 220, 220, 0.48);
  grid-column: 2;
  grid-row: 1;
  padding-top: 4px
}


.icon-premium {
  width: 32px;
  grid-column: 3;
  grid-row: 1/2;
}

#premium {
  grid-column: 3;
  grid-row: 3;
}

.box-three {
  grid-column: 3;
  grid-row: 1;
  padding-top: 4px
}


/* Home Page */
.heading-1{
  color:white;
}
.searchbar-container{
  width:100%;
  text-align: center;
}
#searchBar {
  margin-top: 3px;
  border-radius: 10px;
  border: none;
  height: 24px;
  margin-bottom: 5px;
  outline: none;
  text-align: center;
}

.scroll-highlight{
  margin: 5px 10px;
  min-height: 160px;
  max-height: 175px;
  font-size: 14px;
  overflow-y:auto;
  overflow-x:hidden;
  background: white;
}

.scroll-highlight::-webkit-scrollbar {
  width: 15px;
}

.scroll-highlight::-webkit-scrollbar-thumb{
  background:rgb(214, 212, 212);
  border-radius: 10px;
}
.scroll-highlight ul {
  padding-left: 0px;
  list-style: none;
}
.scroll-highlight a{
  padding-left: 5px;
}
.selected{
  background-color: rgb(197, 194, 194);
  cursor: pointer;
}



.button{
  margin-top: 30px;
}
#deleteBtn{
  padding: 0 15px;
  float: right;
}

.button > *{
  font-size: 14px;
  color:#03a9f4;
  font-weight: bold;
  border: none;
  height: 25px;
 border-radius: 10px;
 background-color: white;
}
button:hover{
  cursor: pointer;
}
.sel{
  background-color: rgb(197, 194, 194);
}

/* Premium Page */
.pre-cont{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  text-align: center;
}
.pre-additions{
  font-size: 18px;
}

.pre-benefits {
  font-size: 16px;
  font-weight: bold;
  grid-row: 3;
}

.pre-benefits li {
  list-style-image: url(./icons/check.png);
  margin-right: 40px;
}
.pre-pricing{
  grid-row: 7;
  background-color: #03a9f4;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  list-style: none;
  padding: 15px;
}
.pre-pricing, .pre-pricing:visited{
  font-weight: bold;
  color: white;
}

.feat-cont{
  text-align: left;
}
.guide-features li{
 border-bottom: 1px solid #03a9f4;
}
.guide-features input{
  background: transparent;
  border: none;
  cursor: pointer;
  color: #03a9f4;
  font-weight: bold;
}
.guide-features{
  list-style: none;
}
.guide-features li::before {
  content: "";
  border-color: transparent #03a9f4;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.content{
  display: none;
}
.showContent{
  display: "block";
}